BUILD
rpmbuild
release
*.tar.gz
make-release.sh
TESTS
.svn
ABOUT-NLS
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.log
config.rpath
config.status
config.sub
configure
install-sh
m4/Makefile
m4/Makefile.in
m4/codeset.m4
m4/extern-inline.m4
m4/fcntl-o.m4
m4/gettext.m4
m4/glibc2.m4
m4/glibc21.m4
m4/iconv.m4
m4/intdiv0.m4
m4/intl.m4
m4/intldir.m4
m4/intlmacosx.m4
m4/intmax.m4
m4/inttypes-pri.m4
m4/inttypes_h.m4
m4/lcmessage.m4
m4/lib-ld.m4
m4/lib-link.m4
m4/lib-prefix.m4
m4/lock.m4
m4/longlong.m4
m4/nls.m4
m4/po.m4
m4/printf-posix.m4
m4/progtest.m4
m4/size_max.m4
m4/stdint_h.m4
m4/threadlib.m4
m4/uintmax_t.m4
m4/visibility.m4
m4/wchar_t.m4
m4/wint_t.m4
m4/xsize.m4
missing
po/Makefile
po/Makefile.in
po/Makefile.in.in
po/Makevars.template
po/POTFILES
po/Rules-quot
po/boldquot.sed
po/en@boldquot.header
po/en@quot.header
po/insert-header.sin
po/it.gmo
po/pl.gmo
po/quot.sed
po/remove-potcdate.sin
src/Makefile
src/Makefile.in
src/method/Makefile
src/method/Makefile.in
src/method/dar/Makefile
src/method/dar/Makefile.in
src/method/laserdisc/Makefile
src/method/laserdisc/Makefile.in
src/method/ldap/Makefile
src/method/ldap/Makefile.in
src/method/mysql/Makefile
src/method/mysql/Makefile.in
src/method/oracle/Makefile
src/method/oracle/Makefile.in
src/method/pgsql/Makefile
src/method/pgsql/Makefile.in
src/method/rsync/Makefile
src/method/rsync/Makefile.in
src/method/scp/Makefile
src/method/scp/Makefile.in
src/method/tape/Makefile
src/method/tape/Makefile.in
src/method/tar/Makefile
src/method/tar/Makefile.in
src/method/wget/Makefile
src/method/wget/Makefile.in
src/report/Makefile
src/report/Makefile.in
src/report/email/Makefile
src/report/email/Makefile.in
src/report/html/Makefile
src/report/html/Makefile.in
src/report/html/calendar/Makefile
src/report/html/calendar/Makefile.in
src/report/html/images/Makefile
src/report/html/images/Makefile.in
src/report/html/js/Makefile
src/report/html/js/Makefile.in
synbak.spec
*~
